{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "app/css/materialize.css" %}">
        <link rel="stylesheet" href="{% static "app/css/styles.css" %}">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>...</title>
    </head>
    <body>

        <header class="navbar-fixed">
              <nav class="top-nav">
                <div class="nav-wrapper z-depth-2">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                    <a href="{% url 'app:index' %}" class="brand-logo">UniStack</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </div>
              </nav>
        </header>
        <ul id="slide-out" class="side-nav fixed z-depth-2">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="{% static "app/img/back.png" %}" alt="back" />
                    </div>
                    <a href="#!user"><img class="circle" src="{% static "app/img/logo.png" %}" alt="logo" /></a>
                    <a href="#!name"><span class="white-text name">UniStack</span></a>
                    <a href="#!email"><span class="white-text email">That's the ticket!</span></a>
                </div>
            </li>
            <li><a href="{% url 'app:university_list' %}"><i class="material-icons">cloud</i>Университеты</a></li>
            <li><a href="{% url 'app:country_list' %}"><i class="material-icons">cloud</i>География</a></li>
            <li><a href="{% url 'app:training_direction_group_list' %}"><i class="material-icons">cloud</i>ФГОС</a></li>
        </ul>

        <main class="row">
            {% block content %}
            {% endblock content %}
        </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Рекламодателям</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Благодарности</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Партнеры</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 UniStack
                    <a class="grey-text text-lighten-4 right" href="#!">О проекте</a>
                </div>
            </div>
        </footer>


        {% block js %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

            <script type="text/javascript" src="{% static "app/js/side-nav.js" %}"></script>
        {% endblock %}
    </body>
</html>